#invalidEntry {
  display: none;
}

.resultsOne {
  display:none;
}

.resultsTwo {
  display:none;
}

.resultsThree {
  display:none;
}

#c-sharp {
  display:none
}

body {
  color: #e9967a;
}

.back-ground {
  background-color:#8b008b;
}