#invalidEntry {
  display: none;
}

.progLanguage {
  display:none;
}

.c-sharp {
  background-image: url(../img/c-sharp.png)
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.ruby {
  background-image: url(../img/ruby.png)
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.python {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}